body{
    background-color: grey;
}
.header{
    position: fixed, top 0, left 0;
    width: 100%;
    display: flex;
}
.box{
    height: 660px;
    width: 1250px;
    text-align: center;
    padding: 4px;
    background-image: url(Netflix/netflix.jpg);
    color: white;
    font-size: 20px;
}
.logo{
    color: red;
    font-size: 47px;
    padding: 10px;
    margin-top: -60px;
}
input{
    padding: 20px;
}
a{
    text-decoration: none;
}
.join{
    margin-top: 30px;
}
.meme{
    height: 100px;
    width: 1250px;
    text-align: center;
    padding: 4px;
    color: white;
    font-size: 20px;
}
.wewe{
    background-color: red;
    text-decoration: none;
    padding: 16px;
    font-size: 20px;
    border-radius: 3px;
    color: white;
    margin-left: 1000px;
}
.box-4 a{
    text-align: right;
    color: white;
    float: right;
}
.get{
    text-decoration: none;
    background-color: red;
    padding: 16px;
    font-size: 20px;
    border-radius: 3px;
    color: white;
}
.box-1{
    width: 1270px;
    height: 500px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: black;
}
img{
    margin-top: 20px;
    margin-left: 30px;
}
h1{
    text-align: center;
    color: white;
    margin-top: 100px;
}
p{
    color: white;
    text-align: center;
}
.box-2{
    height: 500px;
    width: 1270px;
}
.box-2{
    text-align: center;
    background-color: black;
    margin-top: 20px;
}
.box-3{
    background-color: black;
    height: 500px;
    width: 1270px;
    margin-top: 20px;
    text-align: right;
}
.box-4 p{
    color: white;
    background-color: grey;
    font-size: 40px;
    margin: 30px;
    padding: 10px;
    border: 1px solid white;
    text-align: left;
}

h1 .box-3{
    text-align: left;
}
h2{
    color: white;
    text-align: left;
    margin-top: -300px;
    margin-left: 50px;
    font-size: 40px;
}
h3{
    color: white;
    text-align: left;
    margin-top: -2px;
    margin-left: 50px;
    font-size: 20px;
}
.box-4 {
    background-color: black;
    height: 1000px;
    width: 1270px;
    margin-top: 20px; 
}
h4{
    font-size: 50px;
    color: white;
    margin-top: 10px;
}
.box-4 input[type=text]{
width: 95%;
padding: 12px 20px;
margin: 8px 0;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin: 30px;
background-color: darkslategrey;
text-size-adjust: 30px;
font-size: 25px;
}
.first input[type=text]{
    padding: 12px 20px;
    width: 40%;
    background-color: black;
}
.first a{
    text-decoration: none;
    background-color: red;
    padding: 16px;
    font-size: 20px;
    border-radius: 3px;
}
h5{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.first{
    width: 1270px;
    height: 300px;
    background-color: black;
    margin-top: -200px;
}
.second{
    background-color: black;
    height: 800px;
    width: 1270px;
    margin-top: 20px;  
}
.left{
    background-color: black;
    height: 800px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}
.second a{
    display: flex; 
    color: white;
    padding: 30px; 
    text-align: center;
    text-decoration: underline;
}
.middle{
    background-color: black;
    height: 800px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
    margin-left: 500px;
    margin-top: -800px;
}  
.right{
    background-color: black;
    height: 800px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
    margin-left: 900px;
    margin-top: -800px;   
}
.sec{
    margin-right: 140px;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 3px;
    font-size: 20px;
}
.left p{
    margin-right: 130px;
    font-size: 20px;

}